<div class="main">
  <div class="title"></div>
  <div class="openning">
    <p>In the not-too-distant future., next Sunday, AD</p>
    <p>There was a man. There were some puppets. It was amazing.</p>
    <p>These are the experiments of the SOL.</p>
  </div>

  <div class="main-video">
    <iframe src="https://www.youtube.com/embed/QxdLmOE1-N0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="look"></div>

  <div class="panel panel1">
    <div class="text">
      <h3>Season 0<br>
        KTMA
      </h3>
      <a href="#" ng-click="openVideoModel($event)">explore</a>
    </div>
  </div>

  <div class="panel panel2">
    <div class="text">
      <h3>Comedy Central<br>
        The Golden Years
      </h3>
      <a href="#" ng-click="openVideoModel($event)">explore</a>
    </div>
  </div>

  <div class="panel panel3">
    <div class="text">
      <h3>Sci-Fi,<br>
        Crow's Voice,<br>
        and Ram Chips
      </h3>
      <a href="#" ng-click="openVideoModel($event)">explore</a>
    </div>
  </div>

  <div class="social">
    <div class="links">
      <a href="#" class="fb"></a>
      <a href="#" class="twitter"></a>
      <a href="#" class="g-plus"></a>
      <a href="#" class="pinterest"></a>
    </div>
  </div>
</div>
<div class="back">
  <a href="#top">Back to Top</a>
</div>