$blue: #448bff;

.navbar-text {
  margin-left: 15px;
}

.main-video {
  width: 100%;
  height: 651px;
  background: #000;
  iframe {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

.title {
  width: 239px;
  height: 105px;
  margin: 45px auto 35px;
  background: url(/assets/images/early-days.png) no-repeat transparent;
}

.openning {
  font-family: 'Roboto', serif;
  font-weight: 300;
  color: #898989;
  font-size: 15px;
  text-align: center;
  p {
    margin: 0.5em 0;
  }
  margin-bottom: 35px;
}

.panel {
  width: 366px;
  height: 400px;
  display: inline-block;
  color: #fff;
  margin: 15px 0 15px 9px;
  position: relative;
  background-size: cover;
  .text {
    display: block;
    position: absolute;
    bottom: 36px;
    left: 40px;
  }
  h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 27.5px;
  }
  a {
    margin-top: 28px;
    color: $blue;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    background: url(/assets/images/explore.png) right 1px no-repeat transparent;
    padding-right: 22px;
  }
}

.look {
  background: url(/assets/images/what-we-found.png) no-repeat transparent;
  height: 29px;
  width: 333px;
  margin: 44px auto 20px;
}

.panel1 {
  background: url(/assets/images/card1.png) no-repeat transparent;
}
.panel2 {
  background: url(/assets/images/card2.png) no-repeat transparent;
}
.panel3 {
  background: url(/assets/images/card3.png) no-repeat transparent;
}

.social {
  background: $blue;
  height: 131px;
  text-align: center;
  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 47px;
    &:last-child {
      margin-right: 0;
    }
  }
  .links {
    display: inline-block;
    margin: 54px auto;
  }
  .fb {
    background: url(/assets/images/fb.png) no-repeat transparent;
  }
  .twitter {
    background: url(/assets/images/twitter.png) no-repeat transparent;
  }
  .g-plus {
    background: url(/assets/images/g-plus.png) no-repeat transparent;
  }
  .pinterest {
    background: url(/assets/images/pinterest.png) no-repeat transparent;
  }
}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .title {
    background: url(/assets/images/2x/early-days.png) no-repeat transparent;
    background-size: contain;
  }
  .panel1 {
    background: url(/assets/images/2x/card1.png) no-repeat transparent;
  }
  .panel2 {
    background: url(/assets/images/2x/card2.png) no-repeat transparent;
  }
  .panel3 {
    background: url(/assets/images/2x/card3.png) no-repeat transparent;
  }
  .look {
    background: url(/assets/images/2x/what-we-found.png) no-repeat transparent;
  }
  .back a {
    background: url(/assets/images/2x/up.png) right 1px no-repeat transparent;
  }
}

.back {
  display: none;
}

@media only screen and (max-width: 768px) {
  .title {
    background-size: contain;
  }
  .main-video {
    height: 194px;
  }
  .openning {
    padding: 0 1em;
    p {
      display: inline;
      line-height: 1.8;
    }
    margin-bottom: 0.5em;
  }
  .title {
    width: 147px;
    height: 62px;
    margin: 20px auto;
  }
  .look {
    width: 174px;
    height: 14px;
    margin: 27px auto;
    background-size: contain;
  }
  .panel {
    margin: 3px 0 0;
    width: 100%;
    height: 332px;
    background-size: cover;
    .text {
      left: 36px;
      bottom: 34px;
    }
    h3 {
      font-size: 22px;
      padding: 0;
      margin: 0;
    }
    .explore {
      margin-top: 20px;
    }
  }
  .social {
    margin-top: -4px;
    padding: 23px 0 21px;
    height: 74px;
    .links {
      width: 100%;
      margin: 0;
      a {
        margin: 0 7%;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .back {
    display: block;
    padding: 37px 21px 21px;
    text-align: right;
    font-size: 14px;
    a {
      text-decoration: none;
      color: #c2c2c2;
      display: inline-block;
      padding-right: 20px;
      background: url(/assets/images/up.png) right 1px no-repeat transparent;
    }
  }
}